<p style="color: green"><%= notice %></p>
<p hidden id="roomname"><%= @room.name %></p>

<%= render @room %>

<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

      <!-- Modal content -->
            <div class="modal-content">
                          <span class="close">&times;</span>
                          <p class="menu">
                          <span>aligner la fenêtre :</span>
                          <a href="" onclick="alignmodal('top');return false;">top</a>
                          <a href="" onclick="alignmodal('right');return false;">right</a>
                          <a href="" onclick="alignmodal('bottom');return false;">bottom</a>
                          <span>scroll :</span>
                          <a href="" onclick="scrolltobottom();return false;">scroll bottom</a>

                          </p>

                                      <div class="myform"><%= render "messages/form", message: @message %></div>
                                                        </div>

</div>

<div data-chat-room="<%=@room.name%>">
<%= render @room.messages %>
</div>
<div>
  <%= link_to "Edit this room", edit_room_path(@room) %> |
  <%= link_to "Back to rooms", rooms_path %>

  <%= button_to "Destroy this room", @room, method: :delete %>
</div>
