<!DOCTYPE html>
<html>
  <head>
    <title>Mynewcoolapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%=action_cable_meta_tag%>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="/assets/<%=params[:controller]%>.css" rel="stylesheet" />
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
    <%=link_to "bienvenue", "/"%>
    <%=link_to "inscription", "/users/sign_in"%>
    <%=link_to "programming languages", "/programminglanguages"%>

    <%if user_signed_in?%>
      <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
    <%end%>
    </nav>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="/assets/<%=params[:controller]%>.js" type="text/javascript"></script>
  </body>
</html>
